@font-face {
	font-family: code_light;
	src: local(code-light), url('fonts/code_light.OTF') format('opentype');
}

@font-face {
	font-family: code_bold;
	src: local(code-bold), url('fonts/code_bold.OTF') format('opentype');
}

body {
	font-family: code-light;
}
h1,h2,h3 {
	font-family: code-bold;
}
h1 {
	font-size: 50px;
}
a {
	text-decoration: none;
}
#container {
	overflow: hidden;
	position: relative;
	padding: 20px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.nav.home {
	position: absolute;
	left: 75px;
	top: 300px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	ol {
		font-size: 30px;
		letter-spacing: .5em;
		word-spacing: 1.25em;
		list-style-type: none;
		li { 
			color: #FFF;
			display: inline;
		}
		li:active, li:hover {
			font-family: code-bold;
			cursor: pointer;
		}
	}
}
.nav.norm {
	margin-top: auto;
	margin-bottom: auto;
	height: 640px;
	width: 200px;
	position: absolute;
	ol {
		font-size: 30px;
		letter-spacing: .5em;
		list-style-type: none;
		line-height: 2.7em;
		li { 
			color: #FFF;
			display: list-item; 
		}
		li:active, li:hover {
			font-family: code-bold;
			cursor: pointer;
		}
	}
}
#content {
}
#footer {
	clear: left;
	padding-top: 5px;
}

.pix {
	display: none;
	width: 480px;
	overflow: hidden;
	float: left;
	#left {
		text-align: right;
	}
	#right {
		text-align: left;
	}
}

#about {
	position: absolute;
	right: 0px;
	float: left;
	width: 480px;
	text-align: right;
	#aState {
		letter-spacing: 2px;
	}
}
#images {
	white-space: nowrap;
	img {
		display: inline;
	}
}