@import "fonts/code-bold-style.css";
@import "fonts/code-light-style.css";

body {
	font-family: "Code-Light";
}
h1,h2,h3 {
	font-family: "Code-Bold";
}
h1 {
	font-size: 50px;
}
a {
	color: #000;
	text-decoration: none;
}
#container {
	overflow: hidden;
	position: relative;
	padding: 20px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.nav {
	ol {
		letter-spacing: .5em;
		list-style-type: none;
		font-size: 30px;
		li {
			color: #FFF;
			a {
				color: #FFF;
			}
		}
		li:active, li:hover {
			font-family: code-bold;
			cursor: pointer;
		}
	}
}
.home {
	position: absolute;
	left: 75px;
	top: 300px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	ol {
		word-spacing: 1.25em;
		li { 
			display: inline;
		}
	}
}
.norm {
	margin-top: auto;
	margin-bottom: auto;
	height: 640px;
	width: 200px;
	position: absolute;
	ol {
		line-height: 2.7em;
		li { 
			display: list-item; 
		}
	}
}
#content {
}
#footer {
	clear: left;
	padding-top: 5px;
}

.pix {
	display: none;
	width: 480px;
	overflow: hidden;
	float: left;
	#left {
		text-align: right;
	}
	#right {
		text-align: left;
	}
}

#about {
	position: absolute;
	right: 0px;
	float: left;
	width: 480px;
	text-align: right;
	#aState {
		letter-spacing: 2px;
	}
}
#images {
	white-space: nowrap;
	img {
		display: inline;
	}
}