@import "fonts/code-bold-style.css";

@import "fonts/code-light-style.css";
body {
  font-family: "Code-Light";
}
h1,
h2,
h3 {
  font-family: "Code-Bold";
}
h1 {
  font-size: 50px;
}
a {
  text-decoration: none;
}
#container {
  overflow: hidden;
  position: relative;
  padding: 20px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.nav.home {
  position: absolute;
  left: 75px;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}
.nav.home ol {
  color: #FFF;
  font-size: 30px;
  letter-spacing: .5em;
  word-spacing: 1.25em;
  list-style-type: none;
}
.nav.home ol li {
  display: inline;
}
.nav.home ol li:active,
.nav.home ol li:hover {
  font-family: code-bold;
  cursor: pointer;
}
.nav.norm {
  margin-top: auto;
  margin-bottom: auto;
  height: 640px;
  width: 200px;
  position: absolute;
}
.nav.norm ol {
  font-size: 30px;
  letter-spacing: .5em;
  list-style-type: none;
  line-height: 2.7em;
}
.nav.norm ol li {
  color: #FFF;
  display: list-item;
}
.nav.norm ol li:active,
.nav.norm ol li:hover {
  font-family: code-bold;
  cursor: pointer;
}
#footer {
  clear: left;
  padding-top: 5px;
}
.pix {
  display: none;
  width: 480px;
  overflow: hidden;
  float: left;
}
.pix #left {
  text-align: right;
}
.pix #right {
  text-align: left;
}
#about {
  position: absolute;
  right: 0px;
  float: left;
  width: 480px;
  text-align: right;
}
#about #aState {
  letter-spacing: 2px;
}
#images {
  white-space: nowrap;
}
#images img {
  display: inline;
}
