@font-face {
	font-family:"Code-Bold";
	src:url("CODE_Bold.eot?") format("eot"),url("CODE_Bold.woff") format("woff"),url("CODE_Bold.ttf") format("truetype"),url("CODE_Bold.svg#Code-Bold") format("svg");
	font-weight:normal;
	font-style:normal;
}
