@font-face {
	font-family:"Code-Light";
	src:url("CODE_Light.eot?") format("eot"),url("CODE_Light.woff") format("woff"),url("CODE_Light.ttf") format("truetype"),url("CODE_Light.svg#Code-Light") format("svg");
	font-weight:normal;
	font-style:normal;
}
